.pagination{
    text-align: center;
}
.pagination_item{
    padding: 7px;
    border: 1px solid #cecece;
    margin: 5px 0;
    display: inline-block;
    
}
.pagination_item:hover{
    color: #283dfa;
}

.pagination_current{
    color: #0699fc;
    padding: 7px;
    border: 1px solid #0699fc;
    margin: 5px 0;
    display: inline-block;
}
.hidden{
    display: none;
}