

.battonNav{    
    position: absolute;
    width: 50px;
    height: 30px;
    right: 5px;
    top: 5px;
    color: orange;
    background-color: orangered;
    padding: 5px; 
    font-size: 20px;   
    text-align: center;
    cursor: pointer;
    box-shadow: inset  2px 1px 17px 12px rebeccapurple;

}
