.wrap{
    border: 1px solid #fff;
    grid-area: m;
   /*  display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 50px 100px  200px;
    grid-auto-rows: 200px;
    grid-template-areas:
        "he he"
        "nav nav"
        "state new"
        "state posts"
    ; */
    
}
.header{
    position: relative;
    margin-bottom: 100px;    
}

.header_bg_logo img{
    object-fit: fill;
    width: 940px;    
    height: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header_logo_wrap{
    position: absolute;
    height: 176px;
    width: 176px;
    bottom: -10px;
    left: 39% ;
    border-radius: 50%;   
    text-align: center;
    
}
 .header_logo{
    background-color: rgba(206, 206, 206, 1);
    border-radius: 50%;
    border: 3px solid #000;
    overflow: hidden;
 }
.header_logo img{
    position: relative;    
    height: 176px;
    width: 176px;
    object-fit: fill;  
    cursor: pointer; 
}
.header_logo:hover img {
    opacity: 0.9;
    transition: opacity .3s ease; 
   }
.header_logo_download{ 
    padding: 5px;
    background-color: rgba(206, 206, 206, 0.1);  
    position: absolute;
    right: 19px;
    bottom: 3px;
    border-radius: 10em;
    cursor: pointer;
}
.header_logo_download:hover{
    background-color: rgba(206, 206, 206, 0.3); 
    transition: background-color .3s ease; 
}
.add_biography{
 cursor: pointer;
 color: #385898;
 border-bottom: 1px solid inherit;
}
.add_biography:hover{
    border-bottom: 1px solid #385898;
    transition: border-bottom .3s ease; 
}

.nav{
    display: flex;
    justify-content: space-between;    
    position: relative;
    margin-bottom: 5px;
    align-items: center;
    padding: 0 10px;
   
}
.nav:after{
    position: absolute;
    content: "";
    top: -6px;
    left: 5px;
    
    width: 99%;
    height: 1px;
    background-color: #3a3b3c;
}
.nav_info{
    display: flex;
    justify-content: flex-start;   
}
.nav a{
    font-weight: 700;
    text-decoration: none;
    color:#dddddd;
    /* color:#385898; */
    padding: 15px;    
    display: block;
    border-radius: 8px;
}
.nav a:hover{
    background-color: rgba(206, 206, 206, 0.1);
    transition: background-color .3s ease;
}

.nav_edit_profile{
    font-size: .9375rem;
    font-weight: 600;
    
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(206, 206, 206, 0.1);
    border-radius: 8px;
    cursor: pointer;
}
.nav_edit_profile:hover{
    background-color: rgba(206, 206, 206, 0.2);
    transition: background-color .3s ease;
}

.wrapper_state{
    position: relative;
    display: grid;  
    padding: 0 10px;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 150px ;
    grid-template-areas:        
        "state new"
        "state posts"
    ;

}

.state{   
 background-color: #242526;
 border-radius: 8px;
 grid-area: state;
 padding: 20px 15px;
 
}
.state_item{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 15px;
    
}
.state_inform{
    padding-left: 10px;
}
.state_item .map{
    margin-left: 2px;
    margin-right: 4px;
}
.state_item a{
    /* color: #e4e6eb; */
     color: #dddddd;
     text-shadow: 0px 0px 1px #dddddd;    
}
.state_item a:hover{
    text-decoration: underline;
}

.state h1{
    
    font-size: 1.25rem;
}
.state ul{
    list-style: none;
    padding-left: 0;
}

.new_news{
    grid-area: new;
    background-color: blueviolet;
  
}

.posts{
    grid-area: posts;
    background-color: cornsilk;
}
.post{
    
    background-color: crimson;
}