.post {
    height: 505px;
    width: 70%;
    margin: 0 auto;
    border-radius: 50px;
    background: #242526;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.post_title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 15px;
}

.post_logo {
    border-radius: 50%;
    background-color: black;
}

.post_logo img {
    object-fit: fill;
    height: 36px;
    width: 36px;
    box-sizing: border-box;
    border-radius: 50%;
}

.post_user_name {
    margin-left: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.post_content_title {
    font-size: 1.2em;
    height: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}

.post_content figure {
    height: 290px;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.post_content figure img {
    object-fit: fill;
    height: 290px;
    width: 100%;
    box-sizing: border-box;
}

.post_content span {
    padding: 0 15px 0 15px;
    display: block;
}

.post_content_text {
    font-size: 1.2em;
    margin-bottom: 0;
}

.post_content_like {
    display: flex;
    align-items: center;
    justify-content: start;
    align-self: center;
    padding: 3px 15px;
    margin-bottom: 3px;
}

.post_content_like span {
    padding: 13px 15px;
    display: block;
    border-radius: 8px;
    align-content: center;
    align-self: center;
    display: flex;
    justify-content: start;
    cursor: pointer;
}

.post_content_like span svg {
    margin-right: 10px;
}

.post_content_like span:hover {
    background-color: rgba(206, 206, 206, 0.1);
    transition: background-color .3s ease;
}