.wrap{
    /* border: 1px solid #fff; */
    grid-area: al;
    
}
.title{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin-left: 13px;
  padding-top: 15px;
}
.title_head h1{
     font-size: 1.5rem;     
}
.title_button span{
    display: block;
    margin-right: 10px;
    color:  #385898;  
    padding: 2px 4px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.title_button span:hover{
    background-color: rgba(206, 206, 206, 0.1);
    transition: color .3s ease;
}

.nav{  
  display: flex;
  flex-direction: column;  
}
.nav li{
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 7px 0 7px 7px;
    margin-left: 5px;
}
.nav li:hover{
    background-color: rgba(206, 206, 206, 0.1);
    transition: color .3s ease;
}
.nav_user_wrap{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.nav_user_logo{
  border-radius: 50%;
  background-color: black;
}
.nav_user_logo img,.nav_user_icon{
   object-fit: fill;
   height: 36px;
   width: 36px;
   border-radius: 50%;
}
.nav_user_icon{
  background-color: #24affd;
  text-align: center;
}
.nav_user_icon svg{
   height: 36px;
   width: 36px;
   font-size: 23px;
  }
.nav_user_name{
 font-weight: 700;
 margin-left: 20px;
}
