.your_news {
    grid-area: new;
    background-color: #242526;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 11px;
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.your_user_logo {
    border-radius: 50%;
    background-color: black;
    height: 36px;
    width: 36px;
}

.your_user_logo img{
    object-fit: fill;
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.write_news {
    flex-grow: 1;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.write_news > div{
    margin-bottom: 0;
}
.write_news textarea,
.write_news button {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgba(206, 206, 206, 0.1);
    color: #dddddd;  
    height: 36px;  
}
.write_news > div > label{
    display: none;
}
 
.write_news textarea {
    width: 250px;
    margin-right: 10px;
    resize: none;
    padding: 6px 0 6px 6px;
}

.write_news textarea:active,
.write_news textarea:focus {
    background-color: rgba(206, 206, 206, 0.2);
    transition: background-color .3s ease;
}

.write_news button:hover {
    cursor: pointer;
    background-color: rgba(206, 206, 206, 0.2);
    transition: background-color .3s ease;
}